#mostVisited {
  bottom: 8vh;
}

#catImage {
  margin-bottom: 1vh;
}

#notificationDiv {
  background-color: #EE4423;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  left: -9px;
  bottom: 0;
  border: 1.2px solid #fff;
  color: white;
  font-size: 16px;
}

#moreCats {
  font-size: 20px;
  font-family: Nunito;
  color: #6d6b6c;
  font-weight: bolder;
}

#moreCatsRow {
  margin-top: 10vh;
  position: relative;
  display: inline-block;
}

#moreCatsAnchor:hover {
  text-decoration: none;
}

#catImage img {
  max-height: 50vh;
}

#caption {
  font-size: 23px;
  font-family: Nunito;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}